.widget {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  width: 500px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highcharts-root, .highcharts-container  {
  width: 100% !important;
  height: 100% !important;
}