.widget {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 400px;
  display: flex;
}

.highcharts-root,
.highcharts-container {
  width: 100% !important;
  height: 100% !important;
}
